<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Users</title>
    <link rel="stylesheet" href="~/css/users_list.css">
</head>
<body>

    <h3>Here are some Users!</h3>

    <div class="numbers">
    @foreach(var user in Model)
    {
        <p>@user.FirstName @user.LastName</p>
    }
    </div>
    
</body>
</html>